.html {
  height: 100%;
}

* {
  box-sizing: border-box;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav {
  background-image: linear-gradient(to right, #00ced1, #87cefa);
  font-size: 30px;
  color: white;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

.home {
  height: 100vh;
  background-color: #e0e0e0;
  text-align: center;
}

.input {
  margin: 10px;
  height: 20px;
  border-radius: 15px;
}

.movie:nth-child(2n) {
  background-color: #f3f3f3;
}
